@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');


@import "tailwindcss";
@plugin "daisyui";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  --color-primary:  #F91617;
  --color-secondary: #C71818;
  --color-base-100: #FAFAF7;    
  --color-base-200: #F5F5F0;  
  --color-base-300: #0A0100;    
  --color-accent: #706f6f;    
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary:  #F91617;
  --color-secondary: #C71818;
  --color-base-100: #1A1A1A;    
  --color-base-200: #2A2A2A;   
  --color-base-300: #FFFFFF;    
  --color-accent: #B0ABAB;     
}


body {
    font-family: "Poppins", sans-serif;
    @apply bg-base-100
}


.font-logo {
  font-family: "Aladin", system-ui;
 }


a.active {
    @apply font-semibold text-primary
         bg-primary/15 backdrop-blur-md
         px-2 py-1 rounded-full
         border border-primary/30; 
}

@keyframes redGlow {
  0% {
    text-shadow:
      0 0 4px rgba(239, 68, 68, 0.4),
      0 0 8px rgba(239, 68, 68, 0.3);
  }
  50% {
    text-shadow:
      0 0 8px rgba(239, 68, 68, 0.8),
      0 0 16px rgba(239, 68, 68, 0.6),
      0 0 24px rgba(239, 68, 68, 0.4);
  }
  100% {
    text-shadow:
      0 0 4px rgba(239, 68, 68, 0.4),
      0 0 8px rgba(239, 68, 68, 0.3);
  }
}

.red-glow {
  animation: redGlow 2.5s ease-in-out infinite;
}


@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

.animate-floatSlow {
  animation: floatSlow 3s ease-in-out infinite;
}
